<div class="custom-container bg-light p-4">
  <div class="w-90">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a
          class="nav-link heading-custom pb-2 text-dark"
          [class.active]="requests"
          (click)="requests = true"
        >
          Friends
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link heading-custom pb-2  text-dark"
          [class.active]="!requests"
          (click)="requests = false"
          >Friends request
        </a>
      </li>
    </ul>

    <div class="search input-group mb-3" *ngIf="requests">
      <div class="w-100">
        <app-friend-item *ngFor="let friend of possibleFriends; first as isFirst" [friend]="friend"></app-friend-item>

        </div>
    </div>
  </div>
</div>
