<div class="custom-container bg-light p-4">
  <div class="w-90 h-100">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item" *ngFor="let page of subPages; let i = index">
        <a
          class="nav-link heading-custom pb-2 text-dark"
          [class.active]="page.active"
          (click)="changeSubPage(i)"
          >{{ page.title }}
        </a>
      </li>
    </ul>

    <app-allert></app-allert>

    <app-loader *ngIf="!friends"></app-loader>

    <div class="search input-group mb-3" *ngIf="friends">
      <div class="w-100">
        <app-friend-item
          *ngFor="let friend of friends; first as isFirst"
          [friend]="friend"
          [option]="subPages[activePageId].option"
        ></app-friend-item>

        <app-pagination
          *ngIf="count > 1"
          [pages]="count"
          (nextPage)="changePage($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
