.game-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 20px;
}

.filters {
  width: 20%;
}

.slider {
  width: 100%;
}

.form-check-input:checked {
  background-color: var(--main-purple);
  border-color: var(--main-purple);
}
