<div class="custom-container bg-light p-4">
  <div class="w-90">
    <p class="heading-custom pb-2">Games</p>
    <label>Search games</label>
    <div class="search input-group mb-3">
      <input
        type="text"
        class="form-control search border-dark"
        placeholder="Search games"
        id="basic-url"
        [(ngModel)]="srcStr"
      />
      <button class="btn btn-purple custom-shadow" (click)="srcStr = ' '">
        Search
      </button>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <p class="heading-custom pb-2">Featured Games</p>

    <div class="content-display">
      <div class="games-list align-self-center" *ngIf="!games">
        <app-loader></app-loader>
      </div>

      <div class="games-list" *ngIf="games">
        <app-game-item
          *ngFor="
            let g of games
              | gameFilter: currentPrice:tags
              | search: 'title':srcStr;
            first as isFirst
          "
          [game]="g"
        ></app-game-item>
      </div>

      <aside class="filters px-3">
        <div>
          <p class="heading-custom pb-2">Filter by price</p>
          <div
            *ngIf="priceRange"
            class="d-block input-group price-range text-center px-1"
          >
            <input
              class="form-control-range slider custom-range"
              type="range"
              min="{{ priceRange.min }}"
              max="{{ priceRange.max }}"
              value="{{ currentPrice }}"
              id="rangeinput"
              step="1"
              (change)="setCurrentPrice($event)"
              (input)="setCurrentPrice($event)"
            />
            <p>{{ currentPrice }} UAH</p>
          </div>
        </div>
        <div>
          <p class="heading-custom pb-2">Filter by tag</p>
          <div class="px-1" (change)="pickTag()">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="tag"
                value="indie"
              />
              <label class="form-check-label" for="flexCheckIndeterminate">
                Indie
              </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="tag"
                value="action"
              />
              <label class="form-check-label" for="flexCheckIndeterminate">
                Action
              </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="tag"
                value="adventure"
              />
              <label class="form-check-label" for="flexCheckIndeterminate">
                Adventure
              </label>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
