<div class="custom-container bg-light p-4">
  <div class="w-90">
    <p class="heading-custom pb-2">Friends</p>

    <div class="search input-group mb-3">
      <input
        type="text"
        class="form-control search border-dark"
        placeholder="Search friends"
        id="basic-url"
      />
      <button class="btn btn-purple custom-shadow">Search</button>
    </div>

    <p class="heading-custom pb-2">My friends</p>

    <app-friend-item></app-friend-item>
    <app-friend-item></app-friend-item>
    <app-friend-item></app-friend-item>
  </div>
</div>
