<aside class="px-3" *ngIf="games.length > 0">
  <div>
    <p class="heading-custom pb-2">Filter by price</p>
    <div
      *ngIf="priceRange"
      class="d-block input-group price-range text-center px-1"
    >
      <input
        class="form-control-range slider custom-range w-100"
        type="range"
        min="{{ priceRange.min }}"
        max="{{ priceRange.max }}"
        value="{{ currentPrice }}"
        id="rangeinput"
        step="1"
        (change)="setCurrentPrice($event)"
        (input)="setCurrentPrice($event)"
      />
      <p>{{ currentPrice }} UAH</p>
    </div>
  </div>
  <div>
    <p class="heading-custom pb-2">Filter by tag</p>
    <div class="px-1" (change)="pickTag()">
      <div class="form-check" *ngFor="let tag of possibleTagOptions">
        <input
        #tag

          class="form-check-input"
          type="checkbox"
          name="tag"
          value="{{ tag }}"
        />
        <label class="form-check-label" for="flexCheckIndeterminate"
          >{{ tag[0].toLocaleUpperCase() + tag.slice(1) }}
        </label>
      </div>
    </div>
  </div>
</aside>
