.dev-wrapper {
  display: flex;
}
.creation-form {
  width: 40%;
}

@media screen and (max-width: 900px) {
  .dev-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .creation-form {
    width: 80%;
  }
}
