<div class="card" *ngIf="game">
  <div class="card-img-top img-imitation">
    <p class="game-name heading-custom pb-2">{{ game.title }}</p>
    <p *ngIf="!isOwned" class="game-price heading-custom pb-2">
      {{ game.price }} UAH
    </p>
  </div>

  <div class="card-body">
    <p class="card-text">
      {{ game.description }}
    </p>

    <button
      *ngIf="!isOwned"
      href="#"
      class="btn w-100 text-light btn-purple custom-shadow"
      (click)="addGame()"
      [disabled]="isSubmitted || isOwned"
    >
      Add to library
    </button>

    <div *ngIf="isOwned" class="d-flex justify-content-between">
      <button href="#" class="btn text-light btn-purple custom-shadow">
        Download
      </button>
      <button href="#" class="btn btn-light custom-shadow">Share</button>
    </div>
  </div>
</div>
