.img-imitation {
  position: relative;
}

.card {
  width: 95% !important;
  max-width: 300px !important;
  overflow: hidden !important;
  margin: 0 auto !important;
}

.card-text {
  height: 150px;
  overflow: scroll;
}

.btn-purple,
.btn-light {
  width: 48%;
}
