.card {
  width: 85% !important;
  overflow: hidden !important;
}

.img-imitation {
  position: relative;
}

.game-name,
.game-price {
  position: absolute;
  padding: 10px;
  margin: 0;
  color: white;
}

.game-name {
  left: 0;
  top: 0;
}

.game-price {
  right: 0;
  bottom: 0;
}
