.img-imitation {
  position: relative;
}

.card {
  width: 90% !important;
  overflow: hidden !important;
}

.btn-purple,
.btn-light {
  width: 48%;
}

@media screen and (max-width: 460px) {
  .card {
    width: 80% !important;
  }

  .games-list {
    width: 100%;
  }
}
