<div class="profile">
  <div class="custom-container center-block bg-light p-5">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a
          class="nav-link heading-custom pb-2"
          [class.active]="isLogin"
          (click)="isLogin = true"
          >Sign in</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link heading-custom pb-2"
          [class.active]="!isLogin"
          (click)="isLogin = false"
          >Sign up</a
        >
      </li>
    </ul>

    <app-allert></app-allert>

    <app-sign-in-form *ngIf="isLogin; else registration"></app-sign-in-form>
    <ng-template #registration>
      <app-sign-up-form></app-sign-up-form>
    </ng-template>
  </div>
</div>
