<div class="profile center-block">
  <div class="custom-container w-30 bg-light p-5">
    <p class="heading-custom text-center pb-2">Profile</p>
    <div class="alert alert-success" *ngIf="saved">
      Profile successfully updated
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <form class="user-info" [formGroup]="profileForm" (submit)="save()">
      <div class="form-group">
        <label>Username</label>
        <input
          class="form-control"
          placeholder="{{
            profileForm.value.username ? profileForm.value.username : ''
          }}"
          formControlName="username"
        />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          disabled
          placeholder="{{ profileForm.value.email }}"
        />
      </div>

      <div class="form-group">
        <label>Age</label>
        <input
          type="number"
          min="16"
          max="115"
          class="form-control"
          formControlName="age"
          placeholder="{{ profileForm.value.age ? profileForm.value.age : '' }}"
        />
      </div>

      <button
        type="submit"
        [disabled]="profileForm.invalid || isSubmited"
        class="btn btn-purple custom-shadow w-100"
      >
        Save
      </button>
    </form>
  </div>
</div>
