<div class="profile">
  <div class="custom-container center-block bg-light p-5">
    <p class="heading-custom text-center pb-2">
      Profile: {{ user.role[0].toUpperCase() + user.role.slice(1) }}
    </p>

    <app-allert></app-allert>

    <form class="user-info" [formGroup]="profileForm" (submit)="save()">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" formControlName="username" />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          disabled
          placeholder="{{ profileForm.value.email }}"
        />
      </div>

      <div class="form-group">
        <label>Birthdate</label>
        <input type="date" class="form-control" formControlName="birthday" />
      </div>

      <button
        type="submit"
        [disabled]="profileForm.invalid || isSubmited"
        class="btn btn-purple custom-shadow w-100"
      >
        Save
      </button>
    </form>
  </div>
</div>
