.games-list {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
}

.games-list div {
  justify-self: center;
  align-self: center;
}

.btn-purple,
.btn-share {
  width: 48%;
}

.btn-share {
  color: var(--bs-purple);
}

.btn-share:hover {
  color: white;
  background-color: var(--bs-purple);
}

.img-imitation {
  height: 150px;
  width: 100%;
  background: var(--bs-pink);
}

.card {
  width: 90% !important;
}

@media screen and (max-width: 460px) {
  .card {
    width: 80% !important;
  }

  .games-list {
    width: 100%;
  }
}
