<div>
  <p class="heading-custom px-5 pb-2">My games</p>

    <div class="games-list">
      <div class="card">
        <div class="card-img-top img-imitation"></div>
        <div class="card-body">
          <p class="card-text">
            SHell's armies have invaded Earth. Become the Slayer in an epic
            single-player campaign to conquer demons across dimansions and stop
            the final destruction of humanity. The only thing they fear... is
            you.
          </p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn text-light btn-download">Download</a>
            <a href="#" class="btn border border-2 btn-share">Share</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img-top img-imitation"></div>

        <div class="card-body">
          <p class="card-text">
            Hell's armies have invaded Earth. Become the Slayer in an epic
            single-player campaign to conquer demons across dimansions and stop
            the final destruction of humanity. The only thing they fear... is
            you.
          </p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn text-light btn-download">Download</a>
            <a href="#" class="btn border border-2 btn-share">Share</a>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-img-top img-imitation"></div>

        <div class="card-body">
          <p class="card-text">
            Hell's armies have invaded Earth. Become the Slayer in an epic
            single-player campaign to conquer demons across dimansions and stop
            the final destruction of humanity. The only thing they fear... is
            you.
          </p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn text-light btn-download">Download</a>
            <a href="#" class="btn border border-2 btn-share">Share</a>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-img-top img-imitation"></div>

        <div class="card-body">
          <p class="card-text">
            Hell's armies have invaded Earth. Become the Slayer in an epic
            single-player campaign to conquer demons across dimansions and stop
            the final destruction of humanity. The only thing they fear... is
            you.
          </p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn text-light btn-download">Download</a>
            <a href="#" class="btn border border-2 btn-share">Share</a>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-img-top img-imitation"></div>

        <div class="card-body">
          <p class="card-text">
            Hell's armies have invaded Earth. Become the Slayer in an epic
            single-player campaign to conquer demons across dimansions and stop
            the final destruction of humanity. The only thing they fear... is
            you.
          </p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn text-light btn-download">Download</a>
            <a href="#" class="btn border border-2 btn-share">Share</a>
          </div>
        </div>
    </div>
  </div>
</div>
