/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: var(--bs-gray-200);
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.custom-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
  font-size: 1.2em;
}

.heading-custom {
  font-size: 1.4em;
}

.nav-link:hover,
.active {
  color: var(--bs-purple) !important;
}

.btn-purple {
  background-color: var(--bs-purple);
  color: white;
}

.btn-purple:hover {
  color: var(--bs-purple) !important;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-purple:active {
  color: var(--bs-purple) !important;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.custom-container {
  flex: 1 0 auto;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 50px;

  min-height: 80%;
}

.profile {
  display: grid;
  place-items: center;
  width: 100%;
  height: 80%;
}

.form-group {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 640px) {
  .custom-container {
    width: 90%;
  }

  .games-list {
    width: 95%;
    margin: 0 auto;
  }
}
