.custom-container {
  max-width: 30%;
  min-height: fit-content;
}

@media screen and (max-width: 1200px) {
  .custom-container {
    max-width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .custom-container {
    max-width: 50%;
  }
}

@media screen and (max-width: 630px) {
  .custom-container {
    max-width: 70%;
  }
}