<div class="friend-item mb-3 custom-shadow">
  <div class="card">
    <div class="card-body d-flex justify-content-between">
      <p>{{ friend.email }}</p>

      <div>
      <button
        *ngIf="option == 'friends'"
        class="btn btn-remove custom-shadow"
        [disabled]="isSubmitted"
        (click)="cancelRequest()"
      >
        Remove Friend
      </button>

      <button
        *ngIf="option == 'search' && !isRequestSend"
        class="btn btn-purple custom-shadow"
        (click)="addFriend()"
      >
        Send request
      </button>

      <button
      *ngIf="option == 'subscribers'"
      class="btn btn-purple custom-shadow"
      (click)="approveRequest()"
      [disabled]="isSubmitted"
    >
      Approve request
    </button>
    
      <button
        *ngIf="(option == 'search' && isRequestSend) || option == 'publishers' || option == 'subscribers'"
        class="btn btn-remove custom-shadow mx-2"
        (click)="cancelRequest()"
        [disabled]="isSubmitted"
      >
        Cancel request
      </button>
    </div>
    </div>
  </div>
</div>

<!--
<div class="backdrop" *ngIf="delete == true"></div>
<div
  class="alert alert-danger center-alert w-50"
  *ngIf="delete == true"
  role="alert"
>
  <h4 class="alert-heading">
    Are you sure you want to remove friend {{ friend.email }}?
  </h4>
  <hr />
  <div class="d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-danger"
      data-dismiss="alert"
      (click)="remove(); delete = false"
    >
      Remove
    </button>
    <button
      type="button"
      class="btn btn-purple"
      data-dismiss="alert"
      (click)="delete = false"
    >
      Cancel
    </button>
  </div>
</div>
-->
